<html>
    <head>
        <title>SVC - Aid Management</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="assets/css/global.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="assets/css/font-awesome.min.css">
        <script src="assets/js/jquery-3.4.1.min.js"></script>
        <script src="assets/js/global.js"></script>
    </head>

    <body>

        {% include 'header.twig' %}

        <div class="viewport">
            {{ view|raw }}
        </div>

    </body>
</html>