div.display {
    width: calc( 100% - 200px );
    min-height: calc( 100% - 200px );
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    padding-bottom: 50px;
    margin: 50px 100px;
}

div.display div.title {
    display: inline-block;
    height: 45px;
    padding-top: 20px;
    margin-left: 24px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

div.display div.title div.title-main {
    font-size: 20px;

}

div.display div.title div.title-sub {
    font-size: 14px;

}

div.display div.button-container {
    margin: 15px 15px 0 0;
    padding: 16px;
    position: relative;
    display: inline-block;
    float: right;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
}

div.display div.button-container div.button {
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 3px 1px -2px
    rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px
    rgba(0,0,0,0.12);
    background-color: #e0e0e0;
    display: inline-block;
}

div.display div.button-container div.button:hover {
    background-color: rgba(216, 216, 216, 1);
}

div.display div.button-container div.button.delete {
    color: #FFF;
    background-color: #f50057;
}

div.display div.button-container div.button.delete:hover {
    background-color: #e40051;
}

div.display div.card {

}

div.display div.card.head {
}

div.display div.card.contact {
}

div.display div.card.action {
}

div.display div.card.info {

}



div.display div.card div.card-title {
}

div.display div.card div.card-content {

}

div.display div.card div.card-content div.card-element {

}

div.display div.card div.card-content div.card-element-dropdown {

}

div.display div.card div.card-content div.card-element-sub {

}