html {
    background: #C5CAE9 !important;
}
.login-container {
    transition: height .3s ease-in-out;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 500px;
    min-width: 300px;
    height: 262px;
    width: 80%;
    background: #FFFFFF;
}

.login-container h3 {
    width: 100%;
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}

.login-container input {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 72px;
    font-size: 20px;
    border: 0px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0,0,0,.42);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: block;
    padding-left: 15px;
    margin-bottom: 30px;
}

.login-container input:hover {
    background-color: rgba(0,0,0,.08);
    border-bottom-color: rgba(0,0,0,.87);
}

.login-container input:focus {
    background-color: rgba(0,0,0,.15);
    border-bottom: 2px solid #3F51B5;
}

.login-container select {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 72px;
    font-size: 20px;
    border: 0px;
    border-bottom: 1px solid;
    border-bottom-color: rgba(0,0,0,.42);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.login-container select:hover {
    background-color: rgba(0,0,0,.08);
    border-bottom-color: rgba(0,0,0,.87);
}

.login-container select:focus {
    background-color: rgba(0,0,0,.15);
    border-bottom: 2px solid #3F51B5;
}