div.table-container {
    width: calc( 100% - 200px );
    min-height: calc( 100% - 200px );
    background: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    padding-bottom: 50px;
    margin: 50px 100px;
}

div.button-container {
    width: 80%;
    height: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

div.button-float {
    float: right;
}

div.button-container div.button  {
    display: inline-block;
    margin: 3px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 2px;
    background-color: rgba(0,0,0,.2);
    cursor: pointer;
}

div.button-container div.button.hidden {
    opacity: 0;
    cursor: default;
}